@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&family=Roboto:wght@100&display=swap');

// Primary colors
$very-dark-desaturated-blue: hsl(238, 29%, 16%);
$soft-red: hsl(14, 88%, 65%);

// background gradient
$soft-violet: hsl(273, 75%, 66%);
$soft-blue: hsl(240, 73%, 65%);

// Neutral text
$very-dark-grayish-blue: hsl(237, 12%, 33%);
$dark-grayish-blue: hsl(240, 6%, 50%);

// dividers
$light-grayish-blue: hsl(240, 5%, 91%);

// Body copy 12px
$copy-font-size: 0.75rem;

* {
	box-sizing: border-box;
}

html {
	min-height: 100%;
}

img {
	width: 100%;
}

hr {
	border: 0;
	border-top: 1px solid hsl(240, 5%, 91%);
	margin: 0;
}

body {
	margin: 0;
	background: linear-gradient($soft-violet, $soft-blue) no-repeat;
	font-family: 'Kumbh Sans', sans-serif;
	font-size: $copy-font-size;
	padding: 1.5rem;
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;

	section.main {
		display: flex;
		justify-content: center;
		align-items: center;
	}

	.faq-container {
		background-color: white;
		border-radius: 20px;
		padding: 1.5rem;
		margin-top: 6rem;
		width: 328px;
		box-shadow: 0px 41px 24px -24px hsl(250deg 73% 52%);
		position: relative;

		.illustration-box {
			display: none;
		}

		.d-flex {
			position: relative;
			top: -120px;
			// display: flex;
			// justify-content: center;
		}

		.image-container {
			height: 100px;

			.woman-online-mobile {
				position: relative;
				left: -15px;
				top: -131px;
			}

			.bg-pattern-mobile {
				position: absolute;
				top: 11px;
				left: 38px;
				width: 75%;
			}

			.woman-online-desktop,
			.bg-pattern-desktop {
				display: none;
			}
		}

		h1 {
			text-align: center;
			font-size: 2rem;
		}
		// w 347 x h 358
		.faq-main-content {
			margin-top: -13px;
		}

		.faq {
			position: relative;
			border-radius: 10px;
			// margin: 16px 0;
			// padding: 5px 0;

			.faq-title {
				margin: 13px 18px 0 0;
				color: $dark-grayish-blue;
				font-weight: 400;
				font-size: 0.75rem;

				&.faq-title-active {
					color: #000;
					font-weight: 700;
				}

				&:hover {
					color: $soft-red;
					font-weight: 700;
					cursor: pointer;
				}
			}

			.faq-text {
				color: $dark-grayish-blue;
				margin-right: 16px;
				font-size: 0.75rem;
				font-weight: 400;
				max-height: 0;
				padding: 0;
				overflow: hidden;
				transition: all 0.3s ease-in-out;
			}

			.faq-text.expand {
				max-height: 300px;
				padding: 5px 0px;
			}

			// &.active .faq-text {
			// 	display: block;
			// }

			.faq-toggle {
				background-color: transparent;
				border: 0;
				position: absolute;
				top: -10px;
				right: -5px;
				cursor: pointer;
				height: 30px;
				width: 30px;

				&:focus {
					outline: 0;
				}

				& .fa-chevron-down {
					transition: transform 0.3s ease-in-out;
					color: $soft-red;
				}

				& .fa-chevron-down.rotate {
					transform: rotate(180deg);
				}
			}
		}
	}

	// w 921 x h 512
	@media screen and (min-width: 1040px) {
		.faq-container {
			width: 921px;
			display: flex;
			padding: 0;
			min-height: 450px;
			margin-top: 0;

			.illustration-box {
				display: block;
				position: absolute;
				width: 18%;
				left: -79px;
				top: 189px;
				z-index: 1;
			}

			.faq-main-content {
				margin-top: 0;
				width: 43%;
				padding: 41px 41px 41px 0;
			}

			h1 {
				text-align: left;
			}

			.d-flex {
				top: 50px;
				left: -94px;
				width: 54%;
			}

			.image-container {
				max-width: 452px;
				height: 467px;
				overflow: hidden;

				.woman-online-mobile,
				.bg-pattern-mobile {
					display: none;
				}

				.woman-online-desktop {
					position: relative;
					left: -77px;
					top: 54px;
				}

				.woman-online-desktop,
				.bg-pattern-desktop {
					display: block;
				}

				.bg-pattern-desktop {
					position: relative;
					top: -296px;
					left: -74px;
				}
			}
		}
	}
}
